html {
    font-size: 16px;
}
body {
    font-family: 'Inconsolata', monospace;
    background-color: rgb(206, 211, 211);
    color:  rgb(38, 65, 65);
}
header {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-bottom: 5px solid;
}
h1 {
    font-size: 3em;
}
h2.question-number {
    font-size: 2em;
    margin: 1em;
}
p {
    font-size: 1.5em;
    margin: 2em auto 2em 0.5em;
}
button {
    margin-top: 2em;
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
    border-radius: 5px;
    background-color: rgb(206, 211, 211);
    width: 230px;
    height: 60px;
    box-shadow: 7px -5px 9px 0px #a9b5b5;

}
/* button.button-start {
    margin: 0;
    width: 230px;
    height: 60px;
} */
button#submit {
    width: 230px;
    height: 60px;
    box-shadow: 7px -5px 9px 0px #a9b5b5;
    margin-top: 0;
}
div.question {
    font-size: 1.3em;
    margin-left: 4em;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.radio.style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 1em;
}
.radio.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    align-self: flex-start;
}
.nextQuestion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
    min-width: 100vw;
    min-height: 30vh;
    background-color: rgb(206, 211, 211);

  }
  
  .good-job .nextQuestion {
    opacity: 1;
    pointer-events: all;
  }
  .wrong-answer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: rgb(206, 211, 211);
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
    min-width: 100vw;
    min-height: 30vh;
  }
  
  .game-over .wrong-answer {
    opacity: 1;
    pointer-events: all;
  }
  .end {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: rgb(206, 211, 211);
    text-align: center;
    z-index: 20;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
    min-width: 100vw;
    min-height: 30vh;
  }
  
  .game-end .end {
    opacity: 1;
    pointer-events: all;
  }
  .beginning {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: rgb(206, 211, 211);
    text-align: center;
    z-index: 30;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
    min-width: 100vw;
    min-height: 30vh;
  }
  
  .start .beginning {
    opacity: 1;
    pointer-events: all;
  }